:root{
  --backColor:#F7F7F7;
  --whiteColor:#FFFFFF;
  --mainColor:#4999F5;
  --rgbMainColor:rgba(73,153,245, 0.8);
  --darkMainColor:#2F69BA;
  --compColor:#F76574;
  --rgbCompColor:rgba(247,101,116, 0.9) ;
}
a{
  color: black;
  text-decoration: none;
}
*{
  padding:0;
  margin:0;
  font-family: 'Concert One', cursive;
  font-weight: normal;
}

body{
  background-color: var(--backColor);
}

header{
  padding-right: 0;
  width: 100vw;
  background-color: var(--whiteColor);
  position: fixed;
}

.container{
  width:65%;
  margin:auto;
  overflow: hidden;
}

nav h1{
  font-size: 3em;
  color: var(--mainColor);
  float:left;
}

.underline{
  text-decoration: underline;
  text-decoration-color: var(--compColor);
}

.menu{
  float:right;
  list-style-type: none;
  margin-top: 10px;

}

.menu li{
  font-size: 2em;
  width: 60px;
  display: inline;

}

.menu li a{
  color: var(--mainColor);
  text-decoration: none;
  padding: 8px;
}

.menu li a:hover{
  color: var(--compColor);
}

.head{
  width: auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/main3.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headTitle{
  border-top: 5px groove var(--mainColor);
  border-bottom: 5px groove var(--mainColor);
  padding: 20px;
  background-color: white;
  text-align: center;
  color: black;
}

.headTitle h1{
  font-size: 4em;
}

.headTitle h2{
  font-size: 2em;
  margin-bottom: 10px;
}
.headTitle a{
  color:black;
  font-size: 1.5em;
  border-radius: 30px;
  background-color: var(--compColor);
  padding: 0 10px;
}

.headTitle a:hover{
  background-color: var(--mainColor);
  color: white;
}

.mainMessage{
  background-color: red;
  color: white;
}

.message{
  text-align: center;
  font-size: 1.4em;
  padding:30px;
}

.message h1{
  margin-bottom: 10px;
}

.messageImage{
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageImage img{
  display: block;
  border-radius: 10px;
  min-width: 32vw;
}

.showcase{
  margin-top: 10px;
  text-align: center;
}

.showcaseTitle{
  border-top: ridge 2px var(--mainColor);
  background-color: white;
  font-size: 1.4em;
  border-bottom: ridge 2px var(--mainColor);
  padding: 10px;
  margin-bottom: 10px;
}

.showcaseTitle p{
  margin-bottom: 10px;
}

.showcaseTitle a{
  background-color: var(--compColor);
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.showcaseTitle a:hover{
  background-color: var(--mainColor);
  color:white;
}
.showcaseDisplay{
  display: flex;
  justify-content:center;

}
.box{
  border-bottom: 3px groove var(--compColor);
  width: 20vw;
  float:left;
  background-color: white;
  margin:5px 5px 10px 5px;
}

.box{
  padding-bottom: 50px;
}

.box p{
  margin: 10px 10%;
}

.box img{
  height: 50%;
  width: 100%;
  margin-bottom: 20px;
}

.box a{
  display:inline-block;
  margin-top:30px;
  padding: 10px;
  background-color: var(--compColor);
  border-radius: 50px;
}

.box a:hover{
  color:white;
  background-color: var(--mainColor);
}

.middleMessage{
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

.middleMessage p{
  margin-bottom: 20px;
}

.middleMessage a{
  padding: 5px;
  border-radius: 30px;
  background-color: var(--compColor);
  color:white;
}

.middleMessage a:hover{
  background-color: white;
  color:black;
}

.aboutTitle{
  width: auto;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  background-image: url(../image/about3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size:100% 50%;
  background-attachment: fixed;
  background-color: white;
}

.aboutText{
  border-top: 3px groove var(--mainColor);
  border-bottom: 3px groove var(--mainColor);
  background-color: white;
  font-size: 2em;
  margin-bottom: -60px;
}

.aboutMain{
  border-bottom: 3px solid var(--compColor);
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
}

.aboutInfo p {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.missionInfo{
  text-align: center;
  font-size: 2em;
}

.aboutSubTitle{
  text-align: center;
  font-size: 1.5em;
  border-bottom: 3px solid var(--mainColor);
}

.imageColumn{
  margin: 20px 20px 0 20px;
  width: 30%;
  height: 100%;
  float: left;
}

.faceImage{
  width: 90%;
  height: 90%;
  border-top: 3px solid var(--compColor);
  border-bottom: 3px solid var(--compColor);
}

.faceImage img{
  width: 100%;
  height: 50%;
}

.projectTitle{
  margin-top:6%;
  font-size: 1.5em;
  background-color: white;
  text-align: center;
  border-bottom: 3px solid var(--mainColor);
  margin-bottom: 20px;
}


.projectBox{
  padding: 10px;
  border-top: 3px solid var(--compColor);
  border-bottom: 3px solid var(--compColor);
  width: auto;
  height: 30vh;
  margin-bottom: 30px;

}

.projectImage{
  float: left;
  width:20%;
  height: 100%;
  margin-right: 20px;
}

.projectImage img{
  width:100%;
  height:100%;
}

.projectDescription{
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.projectSubtitle{
  font-size: 1.2em;
  text-align: center;
}

.projectText{
  margin-top: 50px;
  font-size: 1.1em;
}

.projectButton{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.projectButton a{
  font-size: 1.2em;
  background-color: var(--compColor);
  padding: 5px;
  border-radius: 30px;
}

.projectButton a:hover{
  background-color: var(--mainColor);
  color:white;
}

.blogHead{
  width: auto;
  height: 70vh;
  background-image: url(../image/blog2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogTitle{
  font-size: 2em;
  padding: 30px;
  background-color: white;
  border-top: 3px solid var(--mainColor);
  border-bottom: 3px solid var(--mainColor);
}

.blogDescription{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: auto;
  background-color: var(--darkMainColor);
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0;
}

.blogContent{
  border-top: 3px solid var(--compColor);
  border-bottom: 3px solid var(--compColor);
  margin-bottom: 20px;
}

.titleBlog{
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}

.textBlog{
  font-size: 1.3em;
  margin-bottom: 20px;
}

.textBlog p{
  margin-bottom: 15px;
}

.buttonBlog{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.buttonBlog a{
  background-color: var(--compColor);
  border-radius: 30px;
  padding: 10px;
  color: black;
  font-size: 1.25em;
}

.buttonBlog a:hover{
  color: white;
  background-color: var(--mainColor);
}

.contactBody{
  padding-top: 60px;
  background-color: white;
  padding-bottom: 10px;
}

.contactTitle{
  font-size: 2em;
  text-align: center;
  border-bottom: 3px solid var(--mainColor);
}

.contactList{
  padding-left: 30px;
  border-bottom: 3px solid var(--mainColor);
}

.contactBox{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.contactBox h1{
  width: 50%;
  display: inline;
  float:left;
}
.contactBox a{
  font-size: 1.3em;
  float:right;
}

.resumeBox{
  height: 90vh;
}

.resumeTitle{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.resume{
  height: 80%;
  width: 80%;
  padding-bottom: 30px;
}

.resume iframe{
  margin-left: 13%;
}
footer{
  border-top: 3px solid var(--mainColor);
  text-align: center;
  font-size: 1.25em;
}
