@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: rgb(75, 75, 75);
    height: auto;
}
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

main{
    width:100%;
    margin:auto;
    overflow:hidden;
}
/* Navigation Bar */
header{
    width:100%;
    background-color: #fffd;
    position: fixed;
}

nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    padding:0;
    flex:1;
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom:0;
    display:none;
}
.menu li{
    display: flex;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    padding: 1vw;
    text-align: center;
    font-size: 1.5rem;
    color: #312F2F;
    transition: color 500ms ease;
}

.menu li a:hover{
    color:#5B5F63;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top:0;
    right:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 2rem;
    color:#ccc;
    display:block;
    transition: 0.3s;
}

.side-nav p{
    color:#ccc;
    transition:0.3s;
    font-size: 2rem;
}

.side-nav p:hover{
    color:#5B5F63;
}

.side-nav a:hover{
    color:#5B5F63;
}

.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size: 2rem;
    margin-left:50px;
}
h1{
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin:0;
}

h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin:0;
}

/*Landing*/
.landing{
    width:100%;
    display:flex;
    height:100vh;
    background-color:#ccc;
    flex-direction: column;
}

.landing-image{
    width:100%;
    height:100%;
    background-image: url(/img/profile.JPG);
    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
}

.landing-title{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.landing-title p{
    font-size:2rem;
}

.landing-title a{
    text-decoration: none;
    color:#312F2F;
    display:block;
    background-color:#ccc;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #312F2F;
    font-size:1.5rem;
}

.landing-title a:hover{
    background-color:#fffd;
}

.btn{
    border:1px solid #312F2F;
    border-radius:20px;
    text-decoration: none;
    padding: 1vw;
    text-align: center;
    font-size: 1.5rem;
    color: #312F2F;
    transition: color 500ms ease;
    transition: background-color 500ms ease;
}

.btn:hover{
    background-color:#fffc;
    color:#5B5F63;
}

/*Me*/
.me{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    flex-direction: column;
}

.me-image{
    width:100%;
    height:100%;
    background-image:url(/image/main.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order:2;
}
.me-title{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order:1;
}

.me-title ul{
    margin-top:3vh;
}

.me-title ul li{
    margin:1vw;
    font-size: 1.5rem;
}

/*Work*/
.work{
    width:100%;
    background-color:#5B5F63;
}

.work-title{
    background-color: #333;
    padding: 1vh 1vw;
    text-align: center;
    color:#fffc;
}

.work-box{
    width:100%;
    display:flex;
    flex-direction:column;
}

.work-image{
    width:100%;
    height: 70vh;
}

.work-image img{
    width:100%;
    height:100%;
}

.work-description{
    text-align: center;
    color:#fffc;
    font-size:1.25rem;
    padding:1vw;
}

.work-description h2{
    font-size:3rem;
}

/*Resume*/
.resume{
    width:100%;
    height:100vh;
}

.resume-title{
    background-color:#333;
    text-align: center;
    color:#fffc;
    padding:1vw;
}

.resume-pdf{
    width:100%;
    height:100%;
}

.resume-pdf iframe{
    width:100%;
    height:100%;
}
/*-------------About---------------*/
.about-landing{
    width:100%;
    height:90vh;
    background-image:url(/img/interests.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.about-landing-title{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.about-landing-title h1{
    font-size: 7rem;
    color:#fffc;
    padding: 1vw;
    background-color: rgba(36, 34, 34,0.5);
}

.bio{
    width:100%;
    background-color:#5B5F63;
}

.bio-title{
    background-color:#333;
    text-align: center;
    color:#fffc;
    padding:1vw;
}

.bio-main{
    width:100%;
    display:flex;
    flex-direction: column;
}
.bio-image{
    width:100%;
    height:50vh;
    background-image: url(/image/profile.JPG);
    background-size: cover;
    background-position: top;
}

.bio-description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    width:100%;
    color:#fffc;
}

.goal{
    width:100%;
    background-color:#ccc;
}

.goal-title{
    background-color: #333;
    text-align: center;
    color:#fffc;
    padding:1vw;
}

.goal-description{
    padding:1vw;
    text-align: center;
    font-size: 0.8rem;
}

/*------Blog---------*/
.blog-landing{
    width:100%;
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url(https://source.unsplash.com/FHnnjk1Yj7Y/1600x900);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-landing h1{
    text-align: center;
    font-size:3rem;
    color:#fffd;
}

.blog-title{
    width:100%;
    background-color: #333;
    color:#fffc;
    text-align: center;
    padding:1vw;
}

.blog{
    width:100%;
    background-color:#eeee;
    display:flex;
}

.post{
    width:100%;
}

.post-box{
    margin:1vw;
    padding:1vw;
    margin-bottom:1vh;
    background-color:#fffc;
}

.post-box h2, h3,p{
    font-size:1.3rem;
}

.post-box img{
    width:100%;
    margin-bottom: 1vh;
}

.post-box a{
    text-decoration: none;
    display:block;
    color:#111;
    font-size: 1.3rem;
}

.archive{
    margin:1vw;
    align-items:center;
    flex-direction: column;
    display:none;
}

.archive ul{
    padding:0;
}

.archive ul li{
    margin-bottom: 1vw;
}
.archive ul li a{
    text-decoration: none;
    color:#333;
    font-size: 1.25rem;
}
.archive h1{
    text-align: center;
}

/*-------------Contact----------------*/
.contact-landing{
    width:100%;
    height:60vh;
    background-image:url(https://source.unsplash.com/random);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contact-landing h1{
    font-size:10rem;
    color:#fffc;
}

.contact{
    widows: 100%;
    background-color: #ccc;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    width:25%;
    height:40vh;
}

.contact-box i{
    font-size:20rem;
    color:#111;
    transition: color 500ms ease;
}

.contact-box i:hover{
    color:#333;
}
footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #fffc;
}

footer h3{
    font-size: 3rem;
    margin-bottom: 0;
}

/* Screen Sizes 600px and up */
@media(min-width:600px){
    .menu{
        display:flex;
    }

    .bio-description{
        font-size:1rem;
    }
    .goal-description{
        font-size:1.2rem;
    }
}

@media(min-width:1400px){
    main{
        width:80%;
        margin:auto;
        overflow:hidden;
    }
}
/* Screen Sizes 800px and up */
@media(min-width: 900px){

    .landing{
        width:100%;
        display:flex;
        height:100vh;
        background-color:#ccc;
        flex-direction: row;
    }

    .me{
        width:100%;
        height:100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
        flex-direction: row;
    }
    
    .me-image{
        width:65%;
        height:100%;
        background-image:url(/image/main.JPG);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        order:2;
    }
    .me-title{
        width:35%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        order:1;
    }

    .post{
        width:85%
    }

    .archive{
        width:15%;
        display:flex;
    }

} 

@media(min-width:1380px){
    .bio-main{
        width:100%;
        display:flex;
        flex-direction: row;
    }
    .bio-image{
        width:50%;
        height:90vh;
        background-image: url(/image/profile.JPG);
        background-size: cover;
        background-position: top;
    }
    
    .bio-description{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        text-align: center;
        width:50%;
        color:#fffc;
    }

    .goal{
        width:100%;
        background-color:#ccc;
    }
    
    .goal-title{
        background-color: #333;
        text-align: center;
        color:#fffc;
        padding:1vw;
    }
    
    .goal-description{
        padding:1vw;
        text-align: center;
        font-size: 1.5rem;
    }
}
